body{
    font-family: "Muli", sans-serif;
    font-size: 16px;
}
.container{
    margin: 0 auto;
    width: 1024px;
}
a {
  color: lightseagreen;
  text-decoration: none;
}
a:hover {
  color: #a9b2b9;
}
header img{
    width: 500px;
    border-radius: 10px;
}
span{
  font-weight: 600;  
}
footer .email{
    float: left;
    width: 330px;
    text-align: left;
}
footer .telegram{
    float: left;
    width: 330px;
    text-align: center;
}
footer .phone{
    float: right;
    width: 330px;
    text-align: right;
}
footer{
    margin-top: 50px;
    margin-bottom: 100px;
}
.main-margin{
    margin-bottom: 40px;
}
.main-header{
    margin-left: 250px;
}
.student-card p{
    margin-left: 250px;
}
.student-card h2{
    margin-left: 150px;
}